<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="Test suite" verbose="1" preserve-order="false">
    <test name="Test">
        <method-selectors>
            <method-selector>
                <script language="beanshell"><![CDATA[
                    groupName = "Smoke";
                    groupToTest = System.getenv("GROUP_TO_TEST")!=null?System.getenv("GROUP_TO_TEST"):groupName;
                    groups.containsKey(groupToTest);
            ]]></script>
            </method-selector>
        </method-selectors>
        <packages>
            <package name=".*"/>
        </packages>
    </test>
</suite>